<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
<!--
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/test</property>
-->

        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <!-- Choose one -->
<!--
        <property name="hibernate.connection.url">jdbc:oracle:thin:@//localhost:1521/xepdb1</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
-->

        <property name="hibernate.connection.username">username</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>

        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
        <property name="enable_lazy_load_no_trans">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.javax.cache.missing_cache_strategy">create</property>


        <mapping class="models.TestTable"/>
    </session-factory>
</hibernate-configuration>