<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@//localhost:1521/freepdb1</property>


        <property name="hibernate.connection.username">test</property>
        <property name="hibernate.connection.password">test</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->

        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
        <property name="enable_lazy_load_no_trans">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.javax.cache.missing_cache_strategy">create</property>


<!--        <mapping class="com.sci.models.TestTable"/>-->
        <mapping class="com.sci.models.Customers"/>
        <mapping class="com.sci.models.Orders"/>
    </session-factory>
</hibernate-configuration>